* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color: green;
  color: #fff;
}

nav .logo {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

nav .nav-links a {
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 1px solid #fff;
}

@media all and (max-width: 768px) {
  
}