
.subbar {
  display: flex;
  width: 329px;
  height: 52px;
  align-items: center;
  gap: 2px;
  padding: 12px;
  border-radius: 2px;
  font-family: --font-family-quicksand;
  z-index: 1000;
  position: absolute;
  top: 221px;
  left: 942px;
  align-items: flex-start;

}

.email_input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 14px;
  width: 442px;
  outline: none;
  z-index: 1000;
  border-color: black;
}

.sub_button {
  display: flex;
  background: #D4D4D4;
  height: 42px;
  min-width: 85px;
  padding: 16.5px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1000;
  border-color: black;
  text-align: center;
  text-decoration-color: white;
  font-family: --font-family-quicksand;
}

.sub_button:hover {
  cursor: pointer;
}