* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.home-link {
  color:#3bb77e;
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}
.nav {
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
  font-family: inter;
  color: #3bb77e;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  justify-content: left;
  padding-left: 75px;
  cursor: default;
  text-decoration: none;
}

.searchbar {
  justify-self: center;
}

/* .link_container {
  display: flex;
  align-items: center;
  justify-content: right;
  color: black;
  width: 33%;
  padding-right: 75px;
  font: 'Quicksand';
} */

/* nav .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
} */

.link_text {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

nav .nav-links a {
  display: inline;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 1px solid #3bb77e;
}
